
/* start header*/
.main{
    height:  105px;
    box-shadow: 1px 2px 8px 0px gainsboro;
}
.main ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    padding-top: 0px;
    margin-right: 30px;
}
.main ul li {
    display: inline-block;
    padding: 5px 10px;
}
.main ul li a{
    color: #736c6c;
    text-decoration: none;
}
.main .logo{
    float: left;
}
.main .logo img {
    width: 185px;
    padding: 7px;
    margin-top: 0px;
    height: 100px;
}
.main .example {
    float: left;
    width: 40vw;
    margin-top: 35px;
    margin-left: 10px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #c4c6cb;
    float: left;
    width: 35vw;
    height: 35px;
    background: #ffffff;
}

form.example button {
    float: left;
    width: 5vw;
    height: 35px;
    padding: 6px;
    color: #7a7c7f;
    font-size: 17px;
    border: 1px solid #c4c6cb;
    border-left: none;
    cursor: pointer;
    background: #ffffff;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
/* end header*/
/*1st page start*/
.login {
    height: auto;
    text-align: center;
    padding: 8% 0 0 0;
    overflow: hidden;
    background-color: ghostwhite;
}
.login h3{
    color: #f3f0f1;
}
.login-form{
    padding: 25px 5px;
}
.user{
    width: 30%;
    margin: auto;
    height: auto;
    border-bottom: 5px solid #deb887;
    border-top: 5px solid #a7875e;
    background: #fff;
    text-align: center;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    padding-top: 5;
    margin-bottom: 28px;
    margin-top: 50px;
}
.userimg{width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 8px;
    bottom: 0px;
    transition: all 0.5s ease;
}
.userimg img{
    margin-bottom: 10px;
    width: 75%;
}
.form h3{
    margin: 20px 0 16px 0;
}
.form {
    color: #f3ebeb;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 30px 15px 30px;
    text-align: center;
    margin: auto;
    width: 30%;
}
.form input {
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 1px solid gainsboro;
    margin: 0 0 10px;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form input:last-child{
    width: auto;
    margin-top: 15px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    margin-top: 5px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form label {
    float: left;
    margin-bottom: 0px;
}
/*1st page close*/
/* Group Listing page CSS*/
body{
    overflow-x: hidden;
}
.table_title h2{
    text-align: center;
    padding: 50px 10px;
}
tbody tr:nth-child(odd) {
    background-color: #f2f2f2
}
#myInput {
    font-size: 16px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#myTable thead tr th span{
    padding-left: 1vw;
    color: #9a9090;
}
#page_number{
    float: right;
}
#page_number li {
    margin-right: 0px;
}
#page_number li:active{
    outline: 0;
}
@media (max-width: 425px) and (min-width: 320px) {
    .table_title h2 {
        padding: 30px 10px;
        font-size: 20px;
    }
    #myTable thead tr th span{
        margin-left: 10px;
    }
}
/* Group Listing page CSS closed*/
/*3rd page open*/
.item-photo img{
    width: 100%;
}
.icon{
    position: absolute;
    bottom: 0px;
}
.fb_icon, .tw_icon , .google_icon{
    border: 1px solid #b3b8b9;
    width: 25px;
    text-align: center;
    border-radius: 17px;
    outline: 0;
    background-color: #b3b8b9;
}
.fb_icon a, .tw_icon a, .google_icon a{
    color: white;
}
.item-photo{
    display:flex;
    justify-content:center;
    align-items:center;
    border-right:1px solid #f6f6f6;
    padding: 50px 20px 30px 20px;
}
.item_des{
    padding: 50px 20px 30px 20px;
}
.location{
    padding-left: 20px;
}
.location li a{
    color: grey;
}
.location li a i {
    width: 25px;
}
.menu-items{
    list-style-type:none;
    font-size:11px;
    display:inline-flex;
    margin-bottom:0;
    margin-top:20px
}
.btn-success{
    width:100%;
    border-radius:0;
}
.section{
    width:100%;
    margin-left:-15px;
    padding:2px;
    padding-left:15px;
    padding-right:15px;
    background:#f8f9f9
}
.title-price{
    margin-top:30px;
    margin-bottom:0;
    color:black
}
.title-attr{
    margin-top:0;
    margin-bottom:0;
    color:black;
}
.btn-minus{
    cursor:pointer;
    font-size:7px;
    display:flex;
    align-items:center;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:2px;
    border-right:0;
}
.btn-plus{
    cursor:pointer;
    font-size:7px;
    display:flex;
    align-items:center;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    border:1px solid gray;
    border-radius:2px;
    border-left:0;
}
div.section > div {
    width:100%;
    display:inline-flex;
}
div.section > div > input {
    margin:0;
    padding-left:5px;
    font-size:10px;
    padding-right:5px;
    max-width:18%;
    text-align:center;
}
.attr,.attr2{
    cursor:pointer;
    margin-right:5px;
    height:20px;
    font-size:10px;
    padding:2px;
    border:1px solid gray;
    border-radius:2px;
}
.attr.active,.attr2.active{ border:1px solid orange;}

#navbar {
    z-index: 11;
    overflow: hidden;
    border-bottom: 1px solid gray;
    background-color: white;
}
#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    color: blue;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 98%;
}
.sticky + .content {
    padding-top: 100px;
}
.content .box{
    border: 1px solid #f1f1f1;
}
.content .title{
    padding: 5px 5px 5px 10px;
    background-color: #f1f1f1;
}
.image_p{
    width: 47%;
    margin-right: 1%;
    margin-left: 1%;
    display: inline-block!important;
    margin-bottom: 2%;
}
/* right side bar*/
h3 {
    color:#fff;
    margin:40px 0 60px 0;
    font-weight:300;
}

.our-team-main {
    display: inline-block;
    border-bottom: 5px solid #8e8d8d;
    border-top: 5px solid #cac8c6;
    background:#fff;
    text-align:center;
    border-radius:100%;
    overflow:hidden;
    position:relative;
    transition:0.5s;
    margin-bottom: 12px;
    margin-right:10px;
    cursor:pointer
}
.content .righisidebar{
    background-color: #f1f1f1;
    padding: 30px 10px 10px 10px;
    border-radius: 8px;
    text-align: center;
}
.our-team-main img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 50px;
}

.team-front {
    width:100%;
    height:auto;
    position:relative;
    z-index:10;
    background:#fff;
    padding:8px;
    bottom:0px;
    transition: all 0.5s ease;
}

/*our-team-main*/
@media (max-width: 992px) and (min-width: 768px) {
    .image_p {
        width: 22%;
    }
}
@media (max-width: 767px) and (min-width: 576px){
    .item_des h1{
        font-size: 27px;
    }
    .image_p {
        width: 30%;
    }
}
@media (max-width: 575px) {
    .item_des h1{
        font-size: 22px;
    }
    .item-photo {
        padding: 20px 20px 10px 20px;
    }
    .item_des {
        padding: 10px 20px 50px 20px;
        border-bottom: 1px solid #f1f1f1;
    }
    .righisidebar ul{
        padding-top: 15px;
    }
    .content .r_side h3{
        padding: 5px 0px;
        font-size: 20px;
    }
    .location ,.icon {
        padding-left: 20px!important;
    }
}
@media (max-width: 375px) and (max-width: 320px) {
    .image_p {
        width: 46%;
    }
    .our-team-main img {
        width: 33px;
    }

}
@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0 !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0 ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0 !important;
        padding-right:0 !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
    .section{width:104%;}
    .menu-items{padding-left:0;}
}





/* media quary start 1st page*/
@media (max-width: 1024px) and (min-width: 912px){
    .form{
        width: 37%;
    }
    .login {
        padding: 4% 0 0 0;
    }
}
@media (max-width: 911px) and (min-width: 769px){
    .form{
        width: 45%;
    }
    .login {
        padding: 4% 0 0 0;
    }
}
@media (max-width: 768px) and (min-width: 668px){
    .login {
        padding: 4% 0 0 0;
    }
    .form{
        width: 50%;
    }
}
@media (max-width: 667px) and (min-width: 598px) {
    .form{
        width: 75%;
        padding: 5px 20px 20px 20px;
    }
    .login {
        padding: 4% 0 0 0;
    }
    .login h3{
        padding: 10px 5px;
        margin: 0;
    }
}
@media (max-width: 599px) and (min-width: 426px){
    .form{
        width: 75%;
        padding: 5px 20px 13px 20px;
    }
    .login {
        padding: 1% 0 0 0;
    }
    .login h3{
        padding: 10px 5px;
        margin: 0;
    }
}

@media (max-width: 425px) and (min-width: 320px) {
    .form{
        width: 88%;
        padding: 5px 15px 15px 15px;
    }
    .login h3 {
        padding: 12px 5px;
        font-size: 20px;
    }
}
/*media quary closed 1st page*/
/*header media quary */
@media (max-width: 768px) and (min-width: 650px) {
    .main {
        height: 85px;
    }
    .main .logo img {
        width: 185px;
        padding: 7px;
        margin-top: 0px;
        height: 85px;
    }
    .main .example {
        margin-top: 20px;
    }
    .main ul {
        margin-top: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 651px) and (min-width: 426px) {
    .main {
        height: 85px;
    }
    .main .logo img {
        width:  100px;
        height: 85px;
    }
    .main .example {
        width: 42vw;
        margin-top: 26px;
    }
    form.example button {
        width: 7vw;
    }
    .main ul {
        margin-top: 26px;
        margin-right: 2px;
    }
}
@media (max-width: 467px) and (min-width: 426px) {
    .main ul {
        margin-right: 0px;
    }
    .main ul li{
        margin-right: 3px;
    }
}
@media (max-width: 425px) and (min-width: 320px) {
    .main {
        height: 110px;
    }
    .main .logo img {
        width: 80px;
        height: auto;
    }
    .main .example {
        clear: both;
        position: relative;
        width: 93vw;
        float: none;
        margin-left: 15px;
    }
    form.example input[type=text] {
        width: 80vw;
    }
    form.example button {
        width: 12vw;
    }
    .main ul {
        margin-top: 12px;
        margin-right: 1px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
/*media quary closed header */

/*media quary closed header */
